body {
    width: 1440px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Dosis', sans-serif;
    font-family: 'Mukta', sans-serif;
    font-family: 'Open Sans', sans-serif;
    background: #F3F3F3;
    margin: 0 auto;
}

/* Header */
.intro__container {
    position: relative;
    width: 1440px;
    height: 810px;
    background-image: url('../img/intro_background.png');
    background-repeat: no-repeat;
}
.header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 165px;
    height: 810px;
    background: #002A32;
}
.header__logo {
    cursor: pointer;
    margin: 19px auto 72px;
}
.header__navbar {
    display: flex;
    flex-direction: column;
}
.header__navbar-item {
    display: flex;
    flex-direction: column;
}
.header__navbar-item:hover {
    cursor: pointer;
    background: #3C6C7F;
}
.header__navbar-item-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 60px;
}
.navbar-item-link {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.045em;
    color: #B6DCFF;
}
/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 810px;
}
.intro__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1015px;
    height: 25px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.04em;
    color: #3E5860;
    margin: 28px 165px 210px 260px;
}
.intro__navbar-auth {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 39px;
    width: 207px;
}
.navbar-auth-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 79px;
}
.navbar-auth-signup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 89px;
}
.intro__navbar-links {
    display: flex;
    align-items: center;
    gap: 35px;
    width: 404px;
}
.intro__navbar-link {
    display: flex;
}
.navbar-link {
    margin-right: 1px;
}
.navbar-link-icon {
    margin-right: 14px;
}
.navbar-link-number {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 8px;
    line-height: 11px;
    letter-spacing: -0.02em;
    color: #DD6060;
    align-self:flex-end;
}

.intro__info {
    display: flex;
    flex-direction: column;
    width: 394px;
    height: 284px;
    margin: 0 786px 263px 260px;
}
.intro__info-phrase {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 152.5%;
    display: flex;
    align-items: center;
    letter-spacing: 0.045em;
    color: #4E6E77;
    margin-bottom: 9px;
}
.intro__info-title {
    width: 394px;
    height: 194px;
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 133.5%;
    letter-spacing: 0.045em;
    color: #264A51;
    margin-bottom: 18px;
}
.intro__info-btn {
    width: 140.05px;
    height: 43px;
    border: 1.5px solid #43717D;
    border-radius: 3px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.045em;
    color: #264A51;
}
.intro__info-btn:hover {
    background-color: #43717D;
    color: #fff;
}
.intro__example {
    position: absolute;
    top: 185px;
    right: 381px;
    display: flex;
    justify-content: space-between;
    
}
.intro__example-text {
    width: 125px;
    height: 37px;
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.045em;
    color: #4E6E77;
    margin-right: 13px;
}

/* Companies */
.companies {
    height: 140px;
    background: #D2E2EE;
}
.companies__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1038px;
    padding-top: 18px;
    margin: 0 auto 18px;
}

/* Our Products */
.products {
    display: flex;
    flex-direction: column;
    height: 1165px;
    background: #F3F3F3;
}
.products__container {
    display: flex;
    flex-direction: column;
    width: 1110px;
    height: 958px;
    margin: 93px auto 114px;
}
.products__title {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 600;
    font-size: 46px;
    line-height: 133.5%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.045em;
    color: #264A51;
    margin: 0 auto 27px;
}
/* categories */
.products__categories {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1049px;
    height: 39px;
    margin: 0 auto 28px;
}
.products__category {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    display: flex;
    align-items: center;
    letter-spacing: 0.045em;
    color: #748289;
    padding: 13px 26px;
}
.products__category:hover {
    border: 2px solid #3E5860;
    border-radius: 2px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.045em;
    color: #264A51;
}
/* cards */
.products__cards {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: repeat(2, 383px);
    column-gap: 29px;
    row-gap: 17px;
    width: 1110px;
    height: 786px;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card__info {
    position: relative;
    width: 350px;
    height: 316px;
    background: #F1F6F9;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    margin-bottom: 12px;
}
.card__wrapper {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    width: 314px;
    height: 200px;
    margin: 30px 18px 12px;
}
.card__img {
    position: absolute;
    top: 87px;
    left: 93px;
    margin: 0 auto;
}
.card__labels {
    position: absolute;
    top: 30px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 14px;
    width: 85px;
    height: 152px;
}
.card__label {
    width: 38px;
    height: 38px;
    margin-right: 18px;
}
.card__label.availability {
    width: 85px;
    height: 30px;
    font-family: 'Mukta';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.045em;
    color: #FFFFFF;
    background: #264A51;
    padding: 10px 8px;
    border-radius: 2px 0px 0px 2px;
    margin-top: 32px;
}
/* icons */
.card__icons {
    display: flex;
    justify-content: space-between;
    width: 200px;
    height: 38px;
    margin: 0 auto 20px;
}
/* name & price */
.card__price-wrapper {
    display: flex;
    flex-direction: column;
    width: 111px;
    height: 40px;
}
.card__name, .card__price {
    font-family: 'Mukta';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 133.5%;
    text-align: center;
    letter-spacing: 0.045em;
    color: #264A51;
}
/* rating */
.star-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 2px;
    width: 73px;
    position: relative;
  }
  .star-rating input {
    display: none;
  }
  .star-rating > label {
    width: 13px;
    height: 13px;
    color: #F3B705;
    cursor: pointer;
  }
  .star-rating label::before {
    content: '\2606';
  }
  .star-rating input:checked ~ label:before {
    content:'\2605';
  }

/* Weekend */
.weekend {
    display: flex;
    height: 735px;
    background-image: url('../img/weekend_background.png');
}
.weekend__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 577px;
    height: 384px;
    margin: 176px 705px 175px 158px;
}
.weekend__info-sign {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 800;
    font-size: 90px;
    line-height: 90px;
    text-align: center;
    letter-spacing: 0.045em;
    color: rgb(243, 183, 5, .5);
    margin-bottom: 40px;
}
.weekend__info-title {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    text-align: center;
    letter-spacing: 0.045em;
    color: #264A51;
    margin-bottom: 15px;
}
.weekend__info-text {
    width: 389px;
    height: 90px;
    font-family: 'Mukta';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 172.68%;
    text-align: center;
    letter-spacing: 0.045em;
    color: #335E74;
    margin-bottom: 24px;
}
.weekend__info-btn {
    width: 143px;
    height: 43px;
    border: 2px solid #264A51;
    border-radius: 3px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.045em;
    color: #264A51;
}
.weekend__info-btn:hover {
    background: #264A51;
    color: #fff;
}

/* Cards */
.rooms__cards {
    display: flex;
    /* height: 3407px; */
}
.rooms__cards-container {
    display: flex;
    flex-direction: column;
    width: 1115px;
    height: 2200px;
    margin: 116px auto 129px;
}
.rooms__card {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 408px;
    margin-bottom: 116px;
}
.rooms__card:nth-child(3) {
    margin-bottom: 129px;
}
.rooms__card:last-child {
    margin-bottom: 0;
}
.card__info-block {
    display: flex;
    flex-direction: column;
    width: 389px;
    margin: 80px 0 98px 97px;
}
.card__info-block#dining-room {
    margin: 85px 78px 106px 0;
}
.card__info-block#kitchen {
    margin: 85px 78px 106px 0;
}
.card__info-block-heading {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 600;
    font-size: 39px;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.045em;
    color: #264A51;
    margin-bottom: 28px;
}
.card__info-block-text {
    font-family: 'Mukta';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 172.68%;
    text-align: center;
    letter-spacing: 0.045em;
    color: #335E74;
    margin-bottom: 35px;
}
.card__info-block-btn {
    width: 143px;
    height: 43px;
    border: 2px solid #264A51;
    border-radius: 3px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.045em;
    color: #264A51;
    margin: 0 auto;
}
.card__info-block-btn:hover {
    background: #264A51;
    color: #D2E2EE;
}
.card__info-block-label {
    position: absolute;
    top: 394px;
    left: 535px;
    width: 129px;
    height: 148px;
    background: rgba(113, 179, 198, 0.85);
    border-radius: 3px;
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.045em;
    color: #FFFFFF;
}
#dining-room.card__info-block-label {
    top: 212px;
    right: 562px;
    left: 419px;
    bottom: 56px;
}
#bedroom.card__info-block-label {
    top: 216px;
    left: 559px;
}
#kitchen.card__info-block-label {
    top: 213px;
    right: 553px;
    left: 437px;
    bottom: 56px;
}

/* Discount */
.discount-offer {
    display: flex;
    background-image: url('../img/discount_background.png');
    background-repeat: no-repeat;
    margin-bottom: 116px;
}
.discount__container {
    display: flex;
    flex-direction: column;
    width: 460px;
    height: 193px;
    margin: 180px 490px;
}
.discount__offer {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 600;
    font-size: 46px;
    line-height: 133.5%;
    text-align: center;
    letter-spacing: 0.045em;
    color: #264A51;
    margin-bottom: 15px;
}
.discount__text {
    width: 389px;
    height: 59px;
    font-family: 'Mukta';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 172.68%;
    text-align: center;
    letter-spacing: 0.045em;
    color: #FFFFFF;
    margin: 0 auto 23px;
}
.discount__subscribe-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.discount__subscribe {
    width: 460px;
    height: 46px;
    background: #DAE6EE;
    box-shadow: 0px 15px 30px rgba(34, 34, 34, 0.11);
    border-radius: 50px;
    padding: 14px 163px 14px 27px;
    outline: none;
}
.discount__subscribe::placeholder {
    font-family: 'Mukta';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 172.68%;
    letter-spacing: 0.045em;
    color: rgba(69, 94, 101, 0.47);
}
.discount__subscribe-btn {
    width: 136px;
    height: 46px;
    background: rgba(38, 74, 81, 0.89);
    box-shadow: -2px 15px 40px rgba(0, 0, 0, 0.11);
    border-radius: 50px;
    font-family: 'Mukta';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 172.68%;
    text-align: center;
    letter-spacing: 0.045em;
    color: #FFFFFF;
    margin-left: -136px;
}
.discount__subscribe-btn:hover {
    background: rgba(93, 155, 201, 0.69);
    color: #264A51;
}

/* Footer */
.footer {
    display: flex;
    flex-direction: column;
    height: 292px;
}
.footer__container {
    display: flex;
    justify-content: space-between;
    width: 1086px;
    height: 207px;
    margin: 0 auto 45px;
}
.footer__logo-block {
    display: flex;
    flex-direction: column;
    width: 254px;
    height: 170px;
    margin-right: 119px;
}
.footer__logo {
    width: 94.56px;
    height: 42.7px;
    margin-bottom: 12.3px;
    cursor: pointer;
}
.footer__text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 172.68%;
    letter-spacing: 0.045em;
    color: #335E74;
    margin-bottom: 19px;
}
.footer__socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10.99px;
    width: 180.84px;
    height: 37px;
}
.footer__social:hover {
    cursor: pointer;
}
.footer__navigation {
    display: flex;
    justify-content: space-between;
    width: 712px;
    height: 207px;
}
.footer__navigation-explore {
    display: flex;
    flex-direction: column;
}
.navigation__heading {
    font-family: 'Mukta';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 26px;
    /* letter-spacing: 0.05em; */
    color: #264A51; 
    margin-bottom: 19px;
}
.navigation-explore-link {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.045em;
    color: #335E74;
    /* margin-bottom: 9px; */
}
.footer__navigation-contacts {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #335E74;
}
.navigation-contacts-address {
    height: 35px;
    margin-bottom: 29px;
}
.footer__navigation-schedule {
    display: flex;
    flex-direction: column;
}
.work-schedule {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 239px;
    height: 134px;
    background: #A0C7EA;
    border-radius: 7px;
}
.work-schedule__days {
    display: flex;
    flex-direction: column;
    gap: 13px;
    width: 68px;
    height: 91px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #335E74;
    margin: 22px 5px 22px 19.79px;
}
.work-schedule__hours {
    display: flex;
    flex-direction: column;
    width: 140px;
    height: 91px;
    gap: 13px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin: 22px 5px 22px 0;
}

.footer__copyright {
    display: flex;
    align-items: center;
    height: 40px;
    background: #D3E2EF;
}
.copyright {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 30px;
    letter-spacing: 0.045em;
    color: #335E74;
    margin: 5px auto;
}